body{
    width: 100%;
    width: 100%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;

a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

header li {
	display: inline-block;
    padding: 20px 10px;
    float: right;
    margin-right: 40px;
}



.logo{
    max-width: 200px;
    float: left;
}

.bannery{
    display: block;
    align-content: center;
    height: 530px;
    text-align: center;

    
}

.bannerr{
    font-size: 90px;
    color: #FFFFFF;
    margin-top: 170px;
    margin-bottom: 30px;
    
    
}
.bannery p{
    width: 30%;
    float: left;
    color: #FFFFFF;
}

.bannery button{
    border-radius: 50px;
    background-color: #C271FF;
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 30px;
    border: #C271FF;
    

}
.banner{
    background-image: url(AlxImages/background.png);
    
}
.banner1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    
    

}
.banners{
    color:#FFFFFF;
    text-align: center;
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;

    
}
.banner0{
    margin-bottom: 100px;
    margin-right: 50px;
    margin-top: 20px;
}
.banner1 img{
    width: 90px;
    height: 90px;
}

.color1{
    color: #C271FF;
}

.color2{
    
    font-weight: lighter;
}
.quote{
    padding: 15px 20px;
    color: #FFFFFF;
    background-color: #C271FF;

}

.quote-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    
}

.quote-card p{
    margin-left: 45px;
}



.videos-container{
    padding: 40px 20px;
    background-color: #FFFFFF;
}

.videos-container h2{
    text-align: center;
}

.videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.videos-card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.videos-card img{
    width: 20%;
    height:auto;

}

.stars{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.stars p{
    margin-left: 30px;
}

.free-membership{
    color:#FFFFFF;
    padding: 40px 20px;
    background-color: #071629;
    position: relative;
}

.free-membership h2{
    text-align: center;
}

.free-membership-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 35px 80px;
    text-align: center;
}





.free-membership button{
    text-align: center;
    position: absolute;
    left: 550px;
    border-radius: 50px;
    background-color: #C271FF;
    color: #FFFFFF;
    border: #C271FF;
}

.faq{
    padding: 40px 20px;
    background-color: #FFFFFF;
}

.faq h2{
    text-align: center;
}

.faq-container{
    margin: 0px  180px;
}

.faq-question{
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
}

.faq2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
}

footer {
    background-color: #333; /* Darker footer background */
    color: white;
    padding: 20px;
    text-align: center;
}

.social-media{
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    gap: 20px;
    top: 3px;
    
}

@media (min-width: 1200) {
    .banner h1 {
      font-size: 3rem;
    }
  
    .banner p {
      font-size: 1.4rem;
    }

}

}